{{ define "title" }}
    {{ if .Params.series }}
        {{ $series := index .Params.series 0 }}
        {{- $series -}}:
    {{ end }}
    {{- .Title -}}
{{ end }}
{{ define "description" }}{{ .Summary }}{{ end }}
{{ define "main" }}
  <div class="Card-lg">
    <article class="flow-root p-8 sm:p-12">
      <header>
        <h1>
            {{ if .Params.series }}
              <div class='text-gray-600 dark:text-gray-200 font-medium text-2xl'>
                  {{ index .Params.series 0 }}
              </div>
            {{ end }}
            {{ .Title }}
        </h1>
        <time class="text-gray-600 dark:text-gray-300 mt-2 mb-8 block font-sans">
            {{- .PublishDate.Format "Monday, January 2, 2006" -}}
        </time>
      </header>
        {{ if .Params.series }}
          <nav class='font-sans max-w-lg my-16 px-6 py-6 mx-auto bg-gray-50 border-2 border-dashed border-blue-400 rounded-md'>
            <p class='font-sans'>This post is part of a series.</p>
              {{ $name := index .Params.series 0 | urlize }}
              {{ $series := index .Site.Taxonomies.series $name }}
            <ol class='mt-4 pl-6 list-disc'>
                {{ range $series.Pages.Reverse }}
                    {{ if (eq .RelPermalink $.Page.RelPermalink) }}
                      <li><strong>{{.LinkTitle}}</strong></li>
                    {{ else }}
                      <li><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></li>
                    {{ end}}
                {{end}}
            </ol>
          </nav>
        {{end}}
        {{ .Content }}
    </article>
  </div>
{{ end }}
