.Sidebar {
  margin-top: 6em;
  margin-right: 2em;
}

nav.Sitemap {
  font-family: var(--sans);
  display: flex;
  flex-direction: column;

  text-align: right;
  text-transform: uppercase;

  & > a {
    text-decoration: none;
    letter-spacing: 0.05em;
    font-weight: lighter;
    color: gray(40);
  }

  & > a:not(:first-child) {
    margin-top: 1em;
  }
}
