@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import 'prose.css';
  @media (prefers-color-scheme: light) {
    @import 'syntax.css';
  }
  @media (prefers-color-scheme: dark) {
    @import 'syntax-dark.css';
  }


  body {
    @apply bg-gray-50 dark:bg-black text-gray-800 dark:text-gray-50 transition-all duration-1000;
    background-image: url('/topography.svg');

    &.minimal {
      backdrop-filter: brightness(2);
    }
  }

  :root {
    --icon-fill: theme('colors.blue.700');
    @media (prefers-color-scheme: dark) {
      --icon-fill: theme('colors.blue.300');
    }
  }

  @media (max-width: theme('screens.sm')) {
    html {
      font-size: 80%;
    }
  }
}

@layer components {
  .Card-md {
    @apply bg-white dark:bg-gray-900 rounded-md shadow-md;
  }
  .Card-lg {
    @apply bg-white dark:bg-gray-900 rounded-lg transition-all duration-1000;

    :not(.minimal) & {
      @apply shadow-lg;
    }
  }

  .Question {
    @apply text-right italic mt-16 font-serif;
    & code {
      @apply text-lg text-blue-800 dark:text-blue-200;
    }
  }
}

@layer utilities {
  .justified {
    @apply text-justify font-serif;
    hyphens: auto;
  }

  .indent {
    text-indent: theme('space.6');
  }
  .indent-none {
    text-indent: unset;
  }
}
