@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import 'syntax.css';
  @import 'prose.css';

  body {
    font-synthesis: none;
    background-image: url('/topography.svg');
    @apply bg-gray-600;
    @apply text-gray-800;
  }

  @media (max-width: theme('screens.sm')) {
    html {
      font-size: 80%;
    }
  }
}

@layer components {
  .Card-md {
    @apply bg-white rounded-md shadow-xl;
  }
  .Card-lg {
    @apply bg-white sm:rounded-lg sm:shadow-2xl;
  }

  .Question {
    @apply text-right italic mt-16 font-serif;
    & code {
      @apply text-lg text-blue-800;
    }
  }
}

@layer utilities {
  .justified {
    @apply text-justify font-serif;
    hyphens: auto;
  }

  .indent {
    text-indent: theme('space.6');
  }
  .indent-none {
    text-indent: none;
  }
}
