<header class='max-w-prose relative mx-auto h-32 sm:h-0'>
  <nav class="absolute mt-8 mr-4 right-0 top-0 bg-gray-50 rounded-lg shadow-md
              grid grid-cols-1 gap-4 sm:gap-8 sm:grid-flow-col-dense
              px-8 py-4 w-auto bg-opacity-80" aria-label="primary">
      {{ $url := .Page.RelPermalink }}
      {{ $pages := dict "/" "/about" "/blog/" "/blog" }}
      {{ range $url, $title := $pages }}
          {{ with $.GetPage $url }}
            <a class="hover:text-indigo-700 font-mono font-semibold text-2xl sm:text-xl
            {{ if (eq $url $.Page.RelPermalink) }}text-indigo-700{{ else }}text-gray-700 {{ end }}"
               href="{{ .RelPermalink }}">{{ $title }}</a>
          {{ end }}
      {{ end }}
  </nav>
</header>
