{{ define "title" }}About me | {{ $.Site.Title }}{{ end }}

{{ define "main" }}
  <div class="Card-lg sm:pb-24">
    <div class="px-6 sm:px-16 py-8 sm:py-12">
      <h1 class="font-bold tracking-tight text-6xl mb-6">About me</h1>
      <p class="font-serif indented justified text-2xl">
        I'm a Montréal-based software developer who likes to wear a lot of different hats.
        Some of my interests include UX design, Web standards, and developer tooling.
        Oh and I like fonts. Like, a lot. <em>Like seriously, why does this guy like fonts
        so much?<em>
      </p>
      <div class="mt-12 mb-4 w-min sm:ml-auto mr-32 flex text-blue-700 dark:text-blue-300 font-bold divide-x">
        <a class='pr-4 flex items-center' href="https://www.github.com/Vincent-Carrier">
          GitHub
          <span class='inline-block w-6 h-6 ml-2'>{{ partial "svg/github-original.svg" }}</span>
        </a>
        <a class='pl-4 flex items-center' href="https://twitter.com/VincntCarrier">
          <span class='inline-block w-6 h-6 mr-2' style='transform: translateY(2px)'>{{ partial "svg/twitter-original.svg" }}</span>
          Twitter
        </a>
      </div>
    </div>

    <div class="hidden sm:flex absolute shadow-2xl rounded-sm mb-8
                transform -translate-y-8 sm:translate-x-56 md:translate-x-80 max-w-xl
                px-8 py-6 bg-gradient-to-tl from-indigo-600 to-blue-600
                dark:from-gray-900 dark:to-blue-900">
      <div class="text-right mr-48">
        <p class="italic font-bold text-gray-50 tracking-wide sm:text-lg pb-2">
          Write code.<br>
          Not too much.<br>
          Mostly functions.
        </p>
        <p class="font-bold text-3xl text-white">Vincent Carrier</p>
      </div>
      <img src="/profile@0.5x.png"
           srcset="/profile@0.5x.webp 1x, /profile.webp 2x"
           title="Me, basking in the eternal joy of autumn leaves"
           alt="Me, basking in the eternal joy of autumn leaves"
           class="absolute -right-14 bottom-0 w-72"
           style="filter: sepia(60%) hue-rotate(180deg)">
    </div>
  </div>
{{ end }}
